
body {
  background-color: #66CCFF;

}
.container {
  margin: auto;
  width: 50%;
  border: 5px solid red;
}

#temperature {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}
#up {

}

